h1{
    color:rgb(208, 124, 20);
    background-color: blue;
    font-weight: 700;
    text-decoration: underline;
    letter-spacing: 5px;
}
p{
    color:rgb(93, 21, 124);
    background-color: rgb(194, 194, 212);
    text-align: end;
    line-height: 2.5;
    text-decoration: line-through;
    font-size: 20px;
    
}
button{
    color:rgb(208, 124, 20);
    background-color: rgb(128, 128, 201);
}