#mainTopic{
    color:blue;
}

*{
    text-align: center;
}
.heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.para{
    color: white;
    background-color: cornflowerblue;
}
div button{
    background-color: purple;
    color: azure;
}

div button:hover{
    background-color: yellow;
    color: blue;
}

/* .para:nth-of-type(odd){
    color: yellow;
} */
.para:nth-of-type(2n+1){
    color: yellow;
}

h1::first-letter{
    color: red;
}

input[type="checkbox"]:checked + label{
    color: darkgreen;

}

/* 
Qs10.Order these rules according to their specificity, from least specific to most specific.:
  -h1 
  -#mainContent
  -.main
  -div.main 
  Ans : -h1           - 1
        -#mainContent - 100 => most specific
        -.main        - 10
        -div .main     - 11

        order of most to least = .mainContent > div .main > .main > h1
*/
